<aside class="app-sidebar" [class.open]="isOpen">
  <ul>
    <li><a routerLink="/home">📊 Dashboard</a></li>
    <li><a routerLink="/categories">📁 Categories</a></li>
    <li><a routerLink="/products">🧱 Products</a></li>    
    <li><a routerLink="/stock">📦 Stock</a></li>
    <li><a routerLink="/vendors">🏪 Vendors</a></li>
    <li><a routerLink="/orders">🛒 Orders</a></li>
    <li><a routerLink="/create-order">🛒 Create Orders</a></li>
    <li><a routerLink="/purchase-entry">🛒 Purchase Orders</a></li>
    
  </ul>
</aside>